{
    "openapi": "3.0.1",
    "info": {
        "title": "Deals",
        "description": "",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "When a sales rep starts working with a prospective customer, create a deal record to track the negotiation process. When the customer later makes their purchase, you can update the deal to a closed stage.",
        "x-hubspot-related-documentation": [
            {
                "name": "Deals Guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/crm/objects/deals"
            }
        ],
        "x-hubspot-introduction": "Use the deals API to create and manage CRM records that represent transactions with contacts and/or companies. Deals progress through pipeline stages to reflect whether the transaction has been completed, is active, or has otherwise been lost."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/objects/deals"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Basic"
        },
        {
            "name": "Merge"
        },
        {
            "name": "Search"
        }
    ],
    "paths": {
        "/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read deals by ID or property",
                "operationId": "post-/crm/v3/objects/deals/batch/read_read",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    }
                ],
                "description": "Returns a batch of deals retrieved by internal ID or unique property values, with partial success indicated by a 207 response."
            }
        },
        "/{dealId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Retrieve a deal by ID",
                "description": "Read an Object identified by `{dealId}`. `{dealId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/deals/{dealId}_getById",
                "parameters": [
                    {
                        "name": "dealId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the deal to retrieve."
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Archive a deal by ID",
                "description": "Move an Object identified by `{dealId}` to the recycling bin.",
                "operationId": "delete-/crm/v3/objects/deals/{dealId}_archive",
                "parameters": [
                    {
                        "name": "dealId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the deal to archive."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update a deal by ID",
                "description": "Perform a partial update of an Object identified by `{dealId}`or optionally a unique property value as specified by the `idProperty` query param. `{dealId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
                "operationId": "patch-/crm/v3/objects/deals/{dealId}_update",
                "parameters": [
                    {
                        "name": "dealId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the deal to update."
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ]
            }
        },
        "/merge": {
            "post": {
                "tags": [
                    "Merge"
                ],
                "summary": "Merge two deals",
                "operationId": "post-/crm/v3/objects/deals/merge_merge",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicMergeInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ],
                "description": "Returns the merged deal object resulting from combining two deals into a single record."
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Archive a batch of deals by ID",
                "operationId": "post-/crm/v3/objects/deals/batch/archive_archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ],
                "description": "Archives the specified batch of deals by ID. Returns no content on success."
            }
        },
        "/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create a batch of deals",
                "operationId": "post-/crm/v3/objects/deals/batch/create_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ],
                "description": "Returns the batch of newly created deal objects, with partial success indicated by a 207 response."
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Update deals by ID or property",
                "operationId": "post-/crm/v3/objects/deals/batch/update_update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ],
                "description": "Returns the batch of updated deal objects identified by internal ID or unique property values, with partial success indicated by a 207 response."
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "List a page of deals",
                "description": "Read a page of deals. Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/deals_getPage",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create a new deal",
                "description": "Create a deal with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard deals is provided.",
                "operationId": "post-/crm/v3/objects/deals_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ]
            }
        },
        "/batch/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Upsert deals by property",
                "description": "Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
                "operationId": "post-/crm/v3/objects/deals/batch/upsert_upsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    }
                ]
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "operationId": "post-/crm/v3/objects/deals/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicObjectSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ],
                "description": "Returns a collection of deals matching the specified search criteria and filters.",
                "summary": "Search for deals"
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Optional sub-category providing further error classification."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Contextual metadata map with string array values for the error."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the error response."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the error instance."
                    },
                    "category": {
                        "type": "string",
                        "description": "High-level category classifying the type of error."
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable message describing the error."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "description": "List of detailed error entries associated with the failure."
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status string corresponding to the error response."
                    }
                },
                "description": "Standard error response structure returned by the Deals API."
            },
            "CollectionResponseAssociatedId": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Paging metadata for navigating the result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociatedId"
                        },
                        "description": "Array of associated object IDs returned in the response."
                    }
                },
                "description": "Paginated collection of associated object IDs for a deal."
            },
            "PublicAssociationsForObject": {
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "description": "List of association type specifications for the target object."
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The target object to associate with the deal."
                    }
                },
                "description": "Defines an association target object and its association types."
            },
            "BatchResponseSimplePublicObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of supplemental links related to the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of deal objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch request."
                    }
                },
                "description": "Batch operation response containing deal results and status."
            },
            "FilterGroup": {
                "required": [
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        },
                        "description": "Array of filter conditions within this group."
                    }
                },
                "description": "A logical grouping of filters applied together when searching deals."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                },
                "description": "Detailed information about a specific error encountered during a request."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor and link to retrieve the next page of results."
                    }
                },
                "description": "Pagination metadata for forward-only cursor-based navigation."
            },
            "SimplePublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the deal object."
                    }
                },
                "description": "A minimal object representation containing only a unique identifier."
            },
            "BatchResponseSimplePublicUpsertObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant hypermedia links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of successfully upserted deal objects."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of errors encountered for individual records in the batch."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch upsert request."
                    }
                },
                "description": "Batch upsert response containing results, errors, and processing status for deal objects."
            },
            "BatchReadInputSimplePublicObjectId": {
                "required": [
                    "inputs",
                    "properties",
                    "propertiesWithHistory"
                ],
                "type": "object",
                "properties": {
                    "propertiesWithHistory": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to return along with their historical values."
                    },
                    "idProperty": {
                        "type": "string",
                        "description": "The property to use as the identifier for batch lookup."
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object IDs to retrieve in the batch read."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to include in the response."
                    }
                },
                "description": "Input schema for reading a batch of deals by ID with specified properties."
            },
            "BatchResponseSimplePublicUpsertObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of upserted deal objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch response containing upserted deal objects with processing status and timing metadata."
            },
            "BatchInputSimplePublicObjectId": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of deal object IDs to process in the batch operation."
                    }
                },
                "description": "Batch input containing an array of deal object IDs for bulk operations."
            },
            "ValueWithTimestamp": {
                "required": [
                    "sourceType",
                    "timestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string",
                        "description": "Identifier of the source that set this value."
                    },
                    "sourceType": {
                        "type": "string",
                        "description": "Type of source that originated this property value."
                    },
                    "sourceLabel": {
                        "type": "string",
                        "description": "Human-readable label describing the value's source."
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the user who last updated this value."
                    },
                    "value": {
                        "type": "string",
                        "description": "The property value stored as a string."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when this value was last recorded or updated."
                    }
                },
                "description": "A property value paired with its source metadata and the timestamp of last update."
            },
            "BatchInputSimplePublicObjectBatchInputUpsert": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputUpsert"
                        },
                        "description": "Array of deal objects to upsert in a single batch operation."
                    }
                },
                "description": "Batch input containing an array of deal objects for bulk upsert operations."
            },
            "CollectionResponseWithTotalSimplePublicObjectForwardPaging": {
                "required": [
                    "results",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of deals matching the request."
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of deal objects returned in the current page."
                    }
                },
                "description": "A paginated collection of deal objects with a total count and forward paging cursor."
            },
            "SimplePublicObject": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "example": false,
                        "description": "Indicates whether the deal is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of deal property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "example": "512",
                        "description": "Unique identifier of the deal."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Map of deal property names to their current values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal was last updated."
                    }
                },
                "example": {
                    "id": "512",
                    "properties": {
                        "amount": "1500.00",
                        "closedate": "2019-12-07T16:50:06.678Z",
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "dealname": "Custom data integrations",
                        "dealstage": "presentationscheduled",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hubspot_owner_id": "910901",
                        "pipeline": "default"
                    },
                    "createdAt": "2019-10-30T03:30:17.883Z",
                    "updatedAt": "2019-12-07T16:50:06.678Z",
                    "archived": false
                },
                "description": "Represents a single deal object with its properties, metadata, and history."
            },
            "PublicObjectId": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the object."
                    }
                },
                "description": "Contains the unique identifier for a public object."
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor information for retrieving the next page of results."
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage",
                        "description": "Cursor information for retrieving the previous page of results."
                    }
                },
                "description": "Pagination cursors for navigating to the next or previous result page."
            },
            "PublicObjectSearchRequest": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "Full-text search query string to filter deals."
                    },
                    "limit": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return per page."
                    },
                    "after": {
                        "type": "string",
                        "description": "Cursor token for retrieving the next page of results."
                    },
                    "sorts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to sort results by."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of deal properties to include in the response."
                    },
                    "filterGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FilterGroup"
                        },
                        "description": "Groups of filters used to narrow search results."
                    }
                },
                "description": "Request payload for searching deals using filters, sorting, and pagination."
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ],
                            "invalidPropertyName": [
                                "propertyValue"
                            ]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Represents an API error response, including a message, category, correlation ID, and optional context or remediation links."
            },
            "SimplePublicObjectBatchInputUpsert": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "Name of the property used as the unique identifier."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace ID for tracking the object write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the deal to upsert."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of deal property names to their updated values."
                    }
                },
                "description": "Input object for upserting a deal in a batch operation, requiring an ID and property map."
            },
            "BatchResponseSimplePublicObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered in the batch."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant link names to their associated URLs."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "List of successfully processed deal objects."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of errors from individual failed batch items."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch operation response containing deal results, processing status, timestamps, and any errors encountered."
            },
            "SimplePublicObjectInput": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for tracking the write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value map of deal property names and their string values."
                    }
                },
                "example": {
                    "properties": {
                        "amount": "1500.00",
                        "dealname": "Custom data integrations",
                        "pipeline": "default",
                        "closedate": "2019-12-07T16:50:06.678Z",
                        "dealstage": "presentationscheduled",
                        "hubspot_owner_id": "910901"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input payload for creating or updating a deal object with its properties."
            },
            "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next results page."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                        },
                        "description": "Array of deal objects returned in the current page of results."
                    }
                },
                "description": "Paginated collection of deal objects including their associations."
            },
            "AssociationSpec": {
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "USER_DEFINED",
                            "INTEGRATOR_DEFINED"
                        ],
                        "description": "Category of the association: HubSpot-defined, user-defined, or integrator-defined."
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Numeric identifier for the specific association type."
                    }
                },
                "description": "Defines the category and type of an association between objects."
            },
            "PublicMergeInput": {
                "required": [
                    "objectIdToMerge",
                    "primaryObjectId"
                ],
                "type": "object",
                "properties": {
                    "objectIdToMerge": {
                        "type": "string",
                        "description": "ID of the secondary deal to be merged into the primary."
                    },
                    "primaryObjectId": {
                        "type": "string",
                        "description": "ID of the primary deal that will be retained after the merge."
                    }
                },
                "description": "Input payload specifying the two deal records to merge."
            },
            "SimplePublicObjectWithAssociations": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectionResponseAssociatedId"
                        },
                        "description": "Map of associated object collections keyed by association type."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the deal record was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the deal record is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the deal record was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of deal properties with their full historical value changes."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the deal record."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "description": "Map of deal property names to their current string values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp of the last update to the deal record."
                    }
                },
                "example": {
                    "properties": {
                        "amount": "1500.00",
                        "closedate": "2019-12-07T16:50:06.678Z",
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "dealname": "Custom data integrations",
                        "dealstage": "presentationscheduled",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hubspot_owner_id": "910901",
                        "pipeline": "default"
                    }
                },
                "description": "A deal object including its properties, metadata, and associated records."
            },
            "Filter": {
                "required": [
                    "operator",
                    "propertyName"
                ],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string",
                        "description": "Upper bound value for BETWEEN range filter operations."
                    },
                    "propertyName": {
                        "type": "string",
                        "description": "The deal property name to evaluate in the filter condition."
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of values for IN or NOT_IN filter operations."
                    },
                    "value": {
                        "type": "string",
                        "description": "The single value to compare against the specified property."
                    },
                    "operator": {
                        "type": "string",
                        "description": "Comparison operator applied to the property and value in the filter.",
                        "enum": [
                            "EQ",
                            "NEQ",
                            "LT",
                            "LTE",
                            "GT",
                            "GTE",
                            "BETWEEN",
                            "IN",
                            "NOT_IN",
                            "HAS_PROPERTY",
                            "NOT_HAS_PROPERTY",
                            "CONTAINS_TOKEN",
                            "NOT_CONTAINS_TOKEN"
                        ]
                    }
                },
                "description": "Defines a single filter condition used to query deals by property value and comparison operator."
            },
            "BatchInputSimplePublicObjectBatchInput": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInput"
                        },
                        "description": "Array of deal objects to update in a single batch request."
                    }
                },
                "description": "Wraps an array of deal update inputs for batch update operations."
            },
            "BatchInputSimplePublicObjectInputForCreate": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                        },
                        "description": "Array of deal objects to create in a single batch request."
                    }
                },
                "description": "Wraps an array of deal inputs for batch create operations."
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "Cursor value representing the start of the previous page."
                    },
                    "link": {
                        "type": "string",
                        "description": "URL link to retrieve the previous page of results."
                    }
                },
                "description": "Cursor reference for navigating to the previous page of paginated results."
            },
            "SimplePublicUpsertObject": {
                "required": [
                    "createdAt",
                    "id",
                    "new",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal record was originally created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the deal record is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal record was archived."
                    },
                    "new": {
                        "type": "boolean",
                        "description": "Indicates whether the record was created (true) or updated (false) by the upsert."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the upserted deal object."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value map of deal property names to their values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the deal object was last updated."
                    }
                },
                "description": "Represents a deal record returned from an upsert operation, indicating whether it was newly created."
            },
            "SimplePublicObjectBatchInput": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "example": "my_unique_property_name",
                        "description": "Name of a unique property to use as the record identifier instead of the default deal ID."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for debugging and tracking the write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the deal to update."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value map of deal property names to their updated values."
                    }
                },
                "example": {
                    "id": "1",
                    "properties": {
                        "amount": "1500.00",
                        "dealname": "Custom data integrations",
                        "pipeline": "default",
                        "closedate": "2019-12-07T16:50:06.678Z",
                        "dealstage": "presentationscheduled",
                        "hubspot_owner_id": "910901"
                    }
                },
                "description": "Input schema for updating an existing deal in a batch operation, including its identifier and property values."
            },
            "AssociatedId": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the associated object."
                    },
                    "type": {
                        "type": "string",
                        "description": "Type defining the nature of the association relationship."
                    }
                },
                "description": "Represents an associated object's identifier and association type for a deal relationship."
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "example": "?after=NTI1Cg%3D%3D",
                        "description": "Relative URL to fetch the next page of results."
                    },
                    "after": {
                        "type": "string",
                        "example": "NTI1Cg%3D%3D",
                        "description": "Cursor token used to retrieve the next page of results."
                    }
                },
                "example": {
                    "after": "NTI1Cg%3D%3D",
                    "link": "?after=NTI1Cg%3D%3D"
                },
                "description": "Pagination cursor object containing the token and link needed to retrieve the next page of results."
            },
            "SimplePublicObjectInputForCreate": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "description": "List of associations linking this deal to other CRM objects at creation time."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for debugging and tracking the write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value map of deal property names to their values."
                    }
                },
                "example": {
                    "properties": {
                        "amount": "1500.00",
                        "dealname": "Custom data integrations",
                        "pipeline": "default",
                        "closedate": "2019-12-07T16:50:06.678Z",
                        "dealstage": "presentationscheduled",
                        "hubspot_owner_id": "910901"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input schema for creating a new deal, including its property values and optional associations to other CRM objects."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.goals.read": "Read goals",
                            "tickets": "Read and write tickets",
                            "crm.objects.custom.read": "View custom object records",
                            "e-commerce": "e-commerce",
                            "crm.objects.custom.write": "Change custom object records",
                            "media_bridge.read": "Read media and media events"
                        }
                    }
                }
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.companies.write": " ",
                            "crm.objects.contacts.write": " ",
                            "crm.objects.users.write": "Write User CRM objects",
                            "crm.objects.commercepayments.read": "Read the COMMERCE_PAYMENT object.",
                            "crm.objects.leads.write": "Modify lead objects",
                            "crm.objects.subscriptions.read": "Read Commerce Subscriptions",
                            "crm.objects.carts.read": "Read carts",
                            "crm.objects.orders.write": "Write orders",
                            "crm.objects.quotes.read": "Quotes",
                            "crm.objects.services.read": "Read services",
                            "crm.objects.orders.read": "Read Orders",
                            "crm.objects.contacts.read": " ",
                            "crm.objects.listings.read": "Read listings",
                            "crm.objects.carts.write": "Write cart",
                            "crm.objects.courses.write": "Write courses",
                            "crm.objects.quotes.write": "Quotes",
                            "crm.objects.users.read": "Read User CRM objects",
                            "crm.objects.companies.read": " ",
                            "crm.objects.appointments.read": "Read appointments",
                            "crm.objects.partner-clients.write": "Modify Partner Client CRM objects",
                            "crm.objects.leads.read": "Read lead objects",
                            "crm.objects.appointments.write": "Write appointments",
                            "crm.objects.services.write": "Write services",
                            "crm.objects.line_items.read": "Line Items",
                            "crm.objects.courses.read": "Read courses",
                            "crm.objects.deals.read": " ",
                            "crm.objects.invoices.read": "Read invoices objects",
                            "crm.objects.partner-clients.read": "View Partner Client CRM objects",
                            "crm.objects.deals.write": " ",
                            "crm.objects.line_items.write": "Line Items",
                            "crm.objects.listings.write": "Write listings"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "PHP",
        "Node",
        "Ruby",
        "Python"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}